# OS
.DS_Store
Thumbs.db

# Editors/IDE
.vscode/
.idea/
*.swp

# Dependencies/build (add what fits your stack)
node_modules/
dist/
build/
*.log

# Python
__pycache__/
*.pyc
.venv/

# Env & secrets (manage via CI/CD variables instead)
.env
*.env

# Unity specific
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/
*.csproj
*.unityproj
*.sln
*.suo